.hidden-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
